@main("about") {
	<div class="container-fluid">
      <div class="row-fluid">
      
		MYMOviequiZ, plus simplement appel&eacute; Mymoz, te propose une petite pause quotidienne de fun en testant test connaissances cin&eacute;matographiques.
		
		<h4>Le principe du jeu</h4>
	  	<table class="table table-striped">
		 	<tr><td>Trouver le titre d'un film &agrave; partir de plusieurs images tir&eacute;es directement de celui-ci</td></tr>
		 	<tr><td>Tu peux aussi bien rentrer le titre original que le titre en fran&ccedil;ais</td></tr>
		 	<tr><td>Tu as le titre, tu as le point ! Lors d'une partie, il te faudra trouver le plus de films possible afin d'accumuler un maximum de points et &ecirc;tre le premier du classement</td></tr>
		 	<tr><td>Tu peux choisir de tester tes connaissances par genre (Science-fiction, &Eacute;pouvante, Com&eacute;die, Action...) ou tenter le Quiz G&eacute;n&eacute;ral</td></tr>
		</table>

		<h4>En quelques chiffres</h4>
		<div class="well">
		<ul>
		<li>10 films par partie</li>
		<li>5 screenshots par films</li>
		<li>3 secondes par screenshots</li>
		</ul>
		</div>

		<p>
		Pour jouer, tu peux soit <a href="@routes.UserController.signup">cr&eacute;er un compte</a> soit <a href="@routes.Application.game">essayer en tant que guest</a>.
		</p>
      </div><!--/row-->
	 </div>
}
