@(nav: String = "")
<header>
	<div class="navbar navbar-inverse">
	  <div class="navbar-inner">
	    <div class="container">
	 
	      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
	      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </a>
	 
	      <!-- Be sure to leave the brand out there if you want it shown -->
	      <a class="brand" href="@(routes.Application.index())">Mymoz</a>
	 
	      <!-- Everything you want hidden at 940px or less, place within here -->
	      <div class="nav-collapse collapse">
	        <ul class="nav navbar-nav">
				<li class="@("active".when(nav == "home"))"><a href="@(routes.Application.index())">Accueil</a></li>
				<li class="@("active".when(nav == "game"))"><a href="@(routes.Application.game)">Jouer</a></li>
				<li class="@("active".when(nav == "about"))"><a href="@(routes.Application.about)">A propos</a></li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<li><a href="@(routes.Application.game)"><span class="glyphicon glyphicon-user"></span><span id="userConnect">@if(session.get("username")){@session.get("username")}else{Connexion}</span></a></li>
			</ul>
	      </div>
	 
	    </div>
	  </div>
	</div>
</header>