@(nav: String = "")
<header>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="@(routes.Application.index())">Mymoz</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="@("active".when(nav == "home"))"><a href="@if(nav != "home"){@(routes.Application.index)}else{#home}">Accueil</a></li>
					<li class="@("active".when(nav == "game"))"><a href="@if(nav == "game"){#}else{ @if(session.get("username")){@(routes.Application.game)}else{#game}}">Jouer</a></li>
					<li class="@("active".when(nav == "about"))"><a href="@if(nav != "home"){@(routes.Application.index)#about}else{#about}">A propos</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="@(routes.Application.game)"><span class="glyphicon glyphicon-user"></span><span id="userConnect">@if(session.get("username")){@session.get("username")}else{Connexion}</span></a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
</header>

