@main() {
	
	<div class="container-fluid">
	
		@if(flash.contains("success")){
			<div class="alert alert-success">
      			@Html(flash.get("success"))
      		</div>
		}
		
		<div class="bg"></div>
		<div class="jumbotron">
		  <h2>Bienvenue sur MYMOviequiZ</h2>
		  <p>o&ugrave; tu pourras t'amuser et mettre &agrave; l'&eacute;preuve tes connaissances cin&eacute;matographiques</p>
		  <p>
		    <a class="btn btn-primary btn-large" href="@(routes.Application.about)">
		      Le principe du jeu en quelques mots
		    </a>
		  </p>
		</div>
		
	</div>
}
