@main() {
	
	<div class="container-fluid">
	
		@if(flash.contains("success")){
			<div class="alert alert-success">
      			@Html(flash.get("success"))
      		</div>
		}
	
		<div class="hero-unit">
		  <h2>Bienvenue sur MYMOviequiZ</h2>
		  <p>o&ugrave; tu pourras taquiner du screenshot et mettre &agrave; l'&eacute;preuve tes connaissances cin&eacute;matographiques</p>
		  <p>
		    <a class="btn btn-primary btn-large" href="@(routes.Application.about)">
		      Oui, mais comment qu'&ccedil;a marche ?
		    </a>
		  </p>
		</div>
		
	</div>
}
