@main() {
	
	<div class="container-fluid anchor" id="home">
	
		@if(flash.contains("success")){
			<div class="alert alert-success">
      			@Html(flash.get("success"))
      		</div>
		}
		
		<div class="jumbotron home_bg">
		  <h2>Bienvenue sur MYMOviequiZ</h2>
		  <p>o&ugrave; tu pourras t'amuser et mettre &agrave; l'&eacute;preuve tes connaissances cin&eacute;matographiques</p>
		  <p>
		    <a class="btn btn-primary btn-large" href="#about">
		      Le principe du jeu en quelques mots
		    </a>
		  </p>
		</div>
		
	</div>
	
	<div class="container-fluid middle-zone" id="game">
	
	<div class="row-fluid anchor" id="formsContainer"> <!--FIXME  id="formsContainer" -->
		
		<div class="col-xs-12 col-md-6 bg_member" > <!-- id="signIn" -->
		
		<div class="row-fluid">
      		<div class="col-xs-6 col-md-6" style="padding-left:0px !important;">
	      		<img src='@routes.Assets.at("images/member_ticket.png")' alt="Member ticket" />
	      	</div>
	      	<div class="col-xs-6 col-md-6">
				<form name="signInForm" action="javascript:;" class="form-horizontal form-member">
					<div class="control-group">
						<label for="login" class="control-label">Pseudo :</label>
						<div class="controls">
							<input type="text" id="login" value="" class="form-control" />
						</div>
					</div>
					<div class="control-group" style="margin-bottom: 0px;">
						<label for="password" class="control-label">Mot de passe :</label>
						<div class="controls">
							<input type="password" id="password" value="" class="form-control" />
						</div>
					</div>
					<br /> <input type="submit" id="signInBouton" value="Me Connecter"
						class="btn btn-default pull-right" />
				</form>
			</div>
		</div>
		</div>
		<!-- /sign in -->
	
<!-- 		<div class="col-xs-0 col-md-2"> </div> -->
	
		<div id="tryOut" class="col-xs-12 col-md-6 bg_visitor">
		<div class="row-fluid">
      		<div class="col-xs-6 col-md-6" style="padding-left:0px !important;">
      			<img src='@routes.Assets.at("images/visitor_ticket.png")' alt="Visitor ticket" />
      		</div>
      		<div class="col-xs-6 col-md-6">
				<form name="signInForm" action="javascript:;" class="form-horizontal">
					<br /> <input type="submit" id="signInGuest" value="Essayer avec un compte visiteur"
						class="btn btn-default pull-right" style="margin-top:40px;" />
					<br /> <button class="btn btn-default pull-right" style="margin-top:20px;" >
							<a href="@(routes.UserController.signup)" >Cr&eacute;er un compte</a>
						   </button>
				</form>
			</div>
		</div>
		</div><!-- /try out -->
	
	</div><!-- /formContainer -->
	</div>
	
	<div class="container-fluid" >
	    <div class="row-fluid anchor" id="about">
	      
	      <div class="col-xs-12 col-md-12 panel panel-default" style="padding-left:0px !important;padding-right:0px !important;">
	      <div class="panel-heading"><h4>En quelques mots...</h4></div>
	     	 <div class="panel-body" >
				MYMOviequiZ, Mymoz pour les intimes, te propose une petite pause quotidienne de fun en testant test connaissances cin&eacute;matographiques.
			</div>	
		  	<table class="table table-striped">
		  		<tr><td><h4>Le principe du jeu</h4></td></tr>
			 	<tr><td><ul>
			 		<li>Trouver le titre d'un film &agrave; partir de plusieurs images tir&eacute;es directement de celui-ci</li>
			 		<li>Tu peux aussi bien rentrer le titre original que le titre en fran&ccedil;ais</li>
			 		<li>Tu as le titre, tu as le point ! Lors d'une partie, il te faudra trouver le plus de films possible afin d'accumuler un maximum de points et &ecirc;tre le premier du classement</li>
			 		<li>Tu peux choisir de tester tes connaissances par genre (Science-fiction, &Eacute;pouvante, Com&eacute;die, Action...) ou tenter le Quiz G&eacute;n&eacute;ral</li>
			 	</ul></td></tr>
			 	<tr><td><h4>D&eacute;roulement d'une partie</h4></td></tr>
			 	<tr><td><ul>
					<li>10 films par partie</li>
					<li>5 screenshots par films</li>
					<li>3 secondes par screenshots</li>
				</ul></td></tr>
			 	<tr><td>Pour jouer, tu peux soit <a href="@(routes.UserController.signup)">cr&eacute;er un compte</a> soit <a href="#game">essayer avec un compte visiteur</a>.</td></tr>
			</table>
		  </div>		   
	   </div><!--/row-->
     
	</div>
<!-- /container-fluid -->
}
