@(userForm : Form[User])
@import helper._

@implicitField = @{ FieldConstructor(bootstrapFieldConstructor.f) }

@main() {
	<div class="container">
		<div class="row col-xs-6">
		<h3>Nouveau sur Mymoz !</h3>
		@if(userForm.hasGlobalErrors) {
		    <div class="alert alert-danger">
		        @userForm.globalError.message
		    </div>
		}
		@form(routes.UserController.newUser()){
			<div class="control-group">
				@inputText(userForm("username"),'class -> "form-control", '_label -> "Pseudo", '_showConstraints -> false)
				@inputPassword(userForm("password"),'class -> "form-control", '_label -> "Mot de passe", '_showConstraints -> false)
				@inputText(userForm("email"),'class -> "form-control", '_label -> "E-mail", '_showConstraints -> false, '_error -> "Email invalide")
				
				<input type="submit" value="OK" class="btn btn-default"/>
			</div>
		}
		</div>
	</div>
}